.course-item {
  margin-top: 20px;
  margin-right: 20px;
  width: 15%;
}

.course-logo {
  height: 75px;
  width: 55px;
  margin-right: 8px;
}

.course-name {
  color: #1e293b;
  font-size: 18px;
  font-family: 'Roboto';
}

.course-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}